
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

    body {
    background:linear-gradient(rgb(255, 174, 24), rgb(0, 204, 255));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    
    .converter {
    background:beige;
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    }

    .converter h2 {
    color: #0083b0;
    margin-bottom: 20px;
    }

    label {
    display: block;
    margin: 15px 0 5px;
    font-weight: 500;
    color: #333;
    }

    input, select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    }

    input:focus, select:focus {
    border-color: #00b4db;
    }

    button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #00b4db;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    }

    button:hover {
    background: #0083b0;
    }

    #result {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    }

    @media (max-width: 400px) {
    .converter {
        width: 90%;
        padding: 20px;
    }
    }